p {
    margin-bottom: 1.5em;
}

dfn, cite, em, i {
    font-style: italic;
}

blockquote {
    margin: rem-calc(32) 0 rem-calc(32) 0;

    @include mq($from: tablet) {
        margin: rem-calc(8) 0 rem-calc(32) rem-calc(64);
    }

    &:before {
        background-color: $color__brand-primary;
        content: "";
        display: block;
        //margin-top: rem-calc(4);
        margin-bottom: rem-calc(10);
        height: rem-calc(4);
        width: rem-calc(145);
    }
}


address {
    color: $color__gray-medium;
    margin: 0 0 1.5em;
    font-style: normal;

    @include mq($from: tablet) {
        font-size: rem-calc(14);
    }
}

pre {
    background: $color__background-pre;
    font-family: $font__pre;
    @include font-size(0.9375);
    line-height: $font__line-height-pre;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code, kbd, tt, var {
    font-family: $font__code;
    @include font-size(0.9375);
}

abbr, acronym {
    border-bottom: 1px dotted $color__border-abbr;
    cursor: help;
}

mark, ins {
    background: $color__background-ins;
    text-decoration: none;
}

big {
    font-size: 125%;
}

.hide-on-small {
    @include mq($until: tablet) {
        display: none;
    }
}

.serif {
    font-family: $font__headings;
}

.entry-content p {
    margin-top: 0;
}

.hfeed .entry-content p {
    margin-bottom: 0;
}

.archive-description p {
    color: $color__gray-medium;
    font-family: $font__main;
    font-size: rem-calc(14);
    line-height: rem-calc(19);

    @include mq($from: tablet) {
        font-size: rem-calc(15);
        line-height: rem-calc(22);
    }
}

/*
 * Single post
 */

.single {
    .entry-title + p,
    .entry-content.format-status {
        font-size: rem-calc(18);
        line-height: rem-calc(25);
        font-family: $font__headings;

        @include mq($from: tablet) {
            font-size: rem-calc(20);
            line-height: rem-calc(30);
            margin-bottom: rem-calc(20);
        }
    }

    .entry-content {
        font-family: $font__headings;

        @include mq($from: tablet) {
            line-height: rem-calc(26);
        }
    }

    blockquote {
        color: $color__black;
        font-family: $font__headings;
        font-style: italic;

        p {
            margin-bottom: 1rem;
        }

        @include mq($from: tablet) {
            font-size: rem-calc(18);
            line-height: rem-calc(26);

            max-width: rem-calc(340);
            float: right;
        }

        footer,
        cite {
            color: $color__gray-light;
            font-style: normal;
            font-family: $font__main;
            font-size: rem-calc(13);
            line-height: rem-calc(17);

            @include mq($from: tablet) {
                font-size: rem-calc(14);
                line-height: rem-calc(18);
            }

        }

        cite {
            margin-top: 1rem;
            display: block;
        }
    }
}

/*
 * Inzerce
 */

.page-template-page-inzerce .entry-content {
    @include mq($from: tablet) {
        text-align: center;
    }

    & > p {
        @include mq($from: tablet) {
            font-size: rem-calc(14);
        }
    }

    & > p:first-child {
        font-size: rem-calc(18);
        line-height: rem-calc(25);
        font-family: $font__headings;

        @include mq($from: tablet) {
            font-size: rem-calc(20);
            line-height: rem-calc(30);
            margin-bottom: rem-calc(20);
        }
    }

    .inzerce-links {
        margin-bottom: rem-calc(20);
        margin-top: rem-calc(40);

        a {
            display: inline-block;
            margin-bottom: rem-calc(20);
        }
    }
}

/*
 * Widget Krátké zprávy
 */

.widget_ehutnik_kratkezpravy {
    .entry-meta, p {
        font-size: rem-calc(14);
        line-height: rem-calc(21);
    }
    .entry-meta {
        font-weight: bold;
    }
    p {
        color: $color__gray-medium;
    }
}

/*
 * Widget Počasí
 */

.widget_ehutnik_pocasi {
    .pocasi-den,
    .pocasi-error {
        color: $color__gray-dark;
        font-size: rem-calc(12);
        line-height: rem-calc(17);
        text-transform: uppercase;
    }

    .pocasi-teplota {
        @include mq($until: tablet) {
            font-size: rem-calc(14);
        }

        color: $color__gray-dark;
        font-size: rem-calc(16);
        line-height: rem-calc(22);
        font-weight: bold;
    }
}

/*
 * Widget Svátky
 */

.widget_ehutnik_svatky {
    @include mq($until: tablet) {
        color: $color__gray-dark;
    }

    color: $color__gray-light;
  font-size: rem-calc(14);

    strong {
            @include mq($until: tablet) {
                color: $color__gray-dark;
                font-weight: normal;
            }

            color: $color__brand-primary;
    }
}

/*
 * 404
 */

p.description404 {
    color: $color__white;
}

.error404 .page-content p {
    margin-bottom: 1rem;
}
