h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-family: $font__headings;
    font-weight: normal;
}

h1 {
    font-size: 1.5rem /* 24/14 */;
    line-height: 1.94rem /* 31/16 */;

    @include mq($from: tablet) {
        font-weight: bold;
        font-size: 2.375rem;
        line-height: 2.75rem;
        margin: 10px 0;
    }
}

.hp-section,
.fullw {
    .post--featured h1 {
        @include mq($from: widecol) {
            font-size: rem-calc(19);
            line-height: rem-calc(26);
        }

        @include mq($from: tablet) {
          font-size: rem-calc(21);
          line-height: rem-calc(26);
          letter-spacing: 0.3px;
        }

        @include mq($from: desktop) {
          font-size: rem-calc(25);
          line-height: rem-calc(30);
          letter-spacing: 0.3px;
        }
    }
}

.post--regular h1,
.post--nointro h1 {
    font-size: rem-calc(18);
    line-height: rem-calc(22);

    @include mq($from: tablet) {
        font-size: 1.5rem;
        line-height: 1.875rem;
    }
}

.post--nointro h1 {
  @include mq($from: tablet) {
    font-size: rem-calc(22);
    line-height: rem-calc(28);
  }
}

#secondary .post--nointro h1 {
    @include mq($from: desktop) {
      font-size: rem-calc(18);
      line-height: rem-calc(22);
    }
}

.fullw .post--nointro h1 {
    @include mq($from: tablet, $until: desktop) {
      font-size: rem-calc(18);
      line-height: rem-calc(24);
    }
}

.widget-title {
  color: $color__brand-primary;
  font-family: $font__main;
  font-size: rem-calc(16);
  font-weight: bold;
  line-height: rem-calc(22);
  text-transform: uppercase;
  margin-bottom: rem-calc(18);
}

.section-title,
.category-title,
.archive-title,
.page-title {
  color: $color__brand-primary;
  font-size: 1.5rem /* 24/14 */;
  line-height: 1.94rem /* 31/16 */;
  font-weight: bold;
  margin: 0.67em 0;

  @include mq($from: tablet) {
      font-size: 2rem /* 32/16 */;
      line-height: 2.69rem /* 43/16 */;
      margin-top: 0;
  }
}

.page-template-page-inzerce .entry-title {
    @include mq($from: tablet) {
        text-align: center;
    }
}

.page-template-page-inzerce .accordion.inzerce {
    h2, h3 {
        font-weight: bold;
    }

    h2 {
        margin-top: 0;
        margin-bottom: rem-calc(26);
        font-size: rem-calc(21);
        line-height: rem-calc(26);

        @include mq($from: tablet) {
            font-size: rem-calc(22);
            line-height: rem-calc(26);
        }
    }

    h3 {
        margin-top: rem-calc(32);
        font-size: rem-calc(18);
        line-height: rem-calc(22);

        @include mq($from: tablet) {
            margin-top: rem-calc(44);
            font-size: rem-calc(20);
            line-height: rem-calc(26);
        }
    }
}

.author-posts-title {
    color: $color__brand-primary;
    font-size: rem-calc(18);
    font-family: $font__main;
    font-weight: bold;
    text-transform: uppercase;
}

.search-results .page-title span {
    font-weight: normal;
}

.author .archive-title {
    //margin-bottom: 0;

    .vcard {
        color: $color__black;
        display: inline-block;
        font-size: rem-calc(18);
        line-height: rem-calc(21);

        @include mq($from: tablet) {
            font-size: rem-calc(24);
            line-height: rem-calc(30);
        }
    }
}

/*
 * Single post
 */

//.single-post,
.single,
.page {
    .entry-title {
        color: $color__black;
    }
}

/*
 * Widgets
 */

.hp-section.category-dobre-rady {
    .section-title {
        @include mq($from: tablet) {
            font-size: 1.63rem /* 26/16 */;
            line-height: 2.38rem /* 38/16 */;
        }
    }
}

.widget_ehutnik_obrazem {
    .section-title {
        margin-top: 0;
    }
    .post--gallery {
        .entry-title {
            font-family: $font__main;
            font-weight: normal;
            font-size: rem-calc(15);
            line-height: rem-calc(26);
            padding: 0 0.5rem;
            margin: 0.25rem 0 0;
        }
        a {
            color: $color__gray-dark;
            text-decoration: none;
        }
    }
}


/*
 * 404
*/

.error404 .page-title {
    font-family: $font__main;
    color: $color__white;
    font-size: 7rem;
    line-height: 5rem;
    margin-top: 0;
    margin-bottom: 0;
}
