html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

@import "tables";


/*
 * Scrollbar styling for widgets
 * TODO: add library to style scrollbars in IE/FF/others
 * TODO: test if this is viable
 */

.widget {
	::-webkit-scrollbar {
		border-radius: 4px;
  	//-webkit-appearance: none;
  	background-color: $color__gray-lightest;
  	width: 7px;
	}

	::-webkit-scrollbar-thumb {
  	border-radius: 4px;
  	//background-color: rgba(0, 0, 0, .5);
  	background-color: $color__brand-primary;
  	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
	}
}

/*
 * Accordion
 * source: https://codepen.io/chriswrightdesign/pen/cmanI
*/
.accordion dl,
.accordion-list {
   //border:1px solid #ddd;
}
.accordion dt {
    margin-top: rem-calc(10);
    vertical-align: middle;

    &:first-child() {
        margin-top: 0;
    }
}
.accordion dd,
.accordion__panel {
    background-color:#eee;
    font-size:1rem;
    line-height:1.5rem;
    margin: 0;

    padding: rem-calc(16) rem-calc(10) rem-calc(0);

    @include mq($from: tablet) {
        padding: rem-calc(42) rem-calc(32) rem-calc(32);
    }
}
//.accordion p {
//  padding:1em 2em 1em 2em;
//}

.accordion {
    position:relative;
    background-color:#fff;
}

.accordion .icon {
    margin-right: rem-calc(10);
    vertical-align: middle;
    top: -3px;
}

.accordion .icon:first-child {
    @include mq($until: tablet) {
        display: none;
    }
}

.accordionTitle,
.accordion__Heading {
    background-color: $color__brand-secondary;
    text-align: left;
    font-weight: 700;
    padding: rem-calc(12) rem-calc(40) rem-calc(12) rem-calc(16);
    display: block;
    text-decoration: none;
    color :#fff !important;
    transition:background-color 0.5s ease-in-out;
    position: relative;

    @include mq($from: tablet) {
        padding: rem-calc(18) rem-calc(40) rem-calc(11) rem-calc(16);
    }

    .caret {
        @extend .icon.sipka-pidi-dolu-r;
        position: absolute;
        right: .5rem;
        top: 50%;
        transform: translateY(-50%);

        @include mq($from: tablet) {
            right: 1rem;
        }
    }

    &:hover {
        background-color: darken($color__brand-secondary, 10%);
    }
}
.accordionTitleActive,
.accordionTitle.is-expanded {
   background-color: $color__brand-primary;

    .caret {
        @extend .icon.sipka-pidi-nahoru-o;
    }
}
.accordionItem {
    height:auto;
    overflow:hidden;
    //SHAME: magic number to allow the accordion to animate
    //transition:max-height 1s;

    //@media screen and (min-width:48em) {
    //    transition:max-height 0.5s
    //}
}

.accordion .accordionTitle.is-collapsed {
    .icon.form-spolecenska {
        @extend .icon.form-spolecenska-w;
    }
    .icon.form-plosna {
        @extend .icon.form-plosna-w;
    }
    .icon.form-vkladana {
        @extend .icon.form-vkladana-w;
    }
    .icon.form-text {
        @extend .icon.form-text-w;
    }
    .icon.form-ehutnik {
        @extend .icon.form-ehutnik-w;
    }
}
.accordion .accordionTitle.is-expanded {
    .icon.form-spolecenska {
        @extend .icon.form-spolecenska-o;
    }
    .icon.form-plosna {
        @extend .icon.form-plosna-o;
    }
    .icon.form-vkladana {
        @extend .icon.form-vkladana-o;
    }
    .icon.form-text {
        @extend .icon.form-text-o;
    }
    .icon.form-ehutnik {
        @extend .icon.form-ehutnik-o;
    }
}

.accordionItem.is-collapsed {
    max-height:0;
    padding: 0;
}
.no-js .accordionItem.is-collapsed {
  max-height: auto;
}
.animateIn {
     animation: accordionIn 0.45s normal ease-in-out both 1;
}
.animateOut {
     animation: accordionOut 0.45s alternate ease-in-out both 1;
}
@keyframes accordionIn {
  0% {
    opacity: 0;
    //transform:scale(0.9) rotateX(-60deg);
    transform-origin: 50% 0;
  }
  100% {
    opacity:1;
    //transform:scale(1);
  }
}

@keyframes accordionOut {
    0% {
       opacity: 1;
       //transform:scale(1);
     }
     100% {
           opacity:0;
           //transform:scale(0.9) rotateX(-60deg);
       }
}
