// Calculate Rem value from pixels
@function rem-calc($sizeValue: 1) {
	@return ( $sizeValue / 16 ) * 1rem;

}

// strip unit from value
@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
/*@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}*/

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

// Susy responsive grid mixin
// http://oddbird.net/2017/09/25/susy-use/
//
// Usage:
// it is safe to add non-Susy data to Susy maps
//
// $medium: (
//   'min-width': 30em,
//   'columns': susy-repeat(8),
//   'gutters': 1em,
// );
//
// any code out here uses the global $susy settings…
//
// @include susy-at($medium) {
//  // this block establishes a new breakpoint,
//  // and any code in this block will use the $medium settings…
// }

@mixin susy-use(
  $config
) {
  //  parse and normalize any shorthand arguments
  $config: susy-compile($config);

  // record the global settings -
  // and update the global variable with our new settings
  $global: $susy;
  $susy: map-merge($susy, $config) !global;

  // any content inside this mixin
  // will use the local settings
  @content;

  // return the global variable to its initial value
  $susy: $global !global;
}

@mixin susy-at(
  $config
) {
  //  parse and normalize any shorthand arguments
  $config: susy-compile($config);

  // build min-and-max queries
  $min: map-get($config, 'min-width');
  $min: if($min, '(min-width: #{$min})', null);
  $max: map-get($config, 'max-width');
  $max: if($max, '(max-width: #{$max})', null);

  // combine them if we need both
  $and: if($min and $max, '#{$min} and #{$max}', null);
  // or fall back to the value we need…
  $query: $and or $min or $max;

  // apply the results…
  @media #{$query} {
    @include susy-use($config) {
      @content;
    }
  }
}
