/*!
Theme Name: eHutnik.cz
Theme URI: http://ehutnik.cz
Author: graphic house s.r.o.
Author URI: http://graphic-house.cz
Description: Wordpress theme for editorial site ehutnik.cz
Version: 1.0.0
License: Commercial license
License URI: LICENSE
Text Domain: ehutnik
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, is licensed commercially and is available only to the ehutnik.cz website.

eHutnik 1.0 is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Breakpoints by SASS MQ
# Susy grid system
# Typography
# Elements
# Sprites
# Forms
# Navigation
    ## Links
    ## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
    ## Comments
# Infinite scroll
# Media
    ## Captions
    ## Galleries
--------------------------------------------------------------*/

@import "variables-site/variables-site";
@import "mixins/mixins-master";

/*--------------------------------------------------------------
# Bower dependencies
--------------------------------------------------------------*/
// bower:scss
@import "../bower_components/sass-mq/_mq.scss";
// endbower

/*--------------------------------------------------------------
# Susy.scss
--------------------------------------------------------------*/
@import "susy";
@import 'plugins/svg-grid';

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import "normalize";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography";

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
@import "elements/elements";

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
@import "sprites/sprites";

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import "forms/forms";

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
@import "navigation/navigation";

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
@import "modules/accessibility";

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
@import "modules/alignments";

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
@import "modules/clearings";

/*--------------------------------------------------------------
# Slick Slider
--------------------------------------------------------------*/

@import "modules/slick";
@import "modules/slick-theme";

/*--------------------------------------------------------------
# Cookie Notice
--------------------------------------------------------------*/
@import "modules/cookie-notice";

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
@import "site/secondary/widgets";

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
@import "site/site";
@import "layout/header";
@import "layout/footer";
@import "layout/content-sidebar";

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
@import "modules/infinite-scroll";

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
@import "media/media";

/*
.site-branding {
  @include mq($from: phone) {
    background-color: red;
    margin-top: 0;
  }
}
*/
