/*
 * Cookie Notice plugin by DFactory styling
 */

#cookie-notice {
    display: none;
    position: fixed;
    max-width: 630px;
    height: auto;
    z-index: 100000;
    font-size: 15px;
    line-height: 22px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    text-align: left;

    color: rgb(255, 255, 255);
    background-color: rgba(156, 15, 18, 0.85) !important;
}

#cookie-notice .button,
#cookie-notice .button {
    font-family: sans-serif;
    display: inline-block;
    font-style: normal;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    font-size: 13px;
    text-decoration: none;
    outline: 0;
}

.cookie-notice-container {
    padding: 10px 15px;
    text-align: left;
}

.cn-top {
    top: 0;
}

.cn-bottom {
    bottom: 0;
}

#cookie-notice .button {
    margin-left: 10px;
}

#cookie-notice .button {
    line-height: 18px;
    padding: 2px 12px;
    background: #fff;
    border-color: #fff;
    color: #333;
    text-shadow: 0 1px 0 #FFF;
    -moz-box-sizing: border-box;
    border-radius: 3px;
    white-space: nowrap;
    text-align: center;
}

#cookie-notice .button:focus,
#cookie-notice .button:hover {
    background: linear-gradient(to bottom,#FFF,#F3F3F3) #F3F3F3;
    border-color: #fff;
    color: #222;
}
