.widget {
    margin: 0 0 rem-calc(24);
    padding-bottom: rem-calc(24);

    /* Make sure select elements fit in widgets. */
    select {
        max-width: 100%;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
}

.widget-area {
    section {
        border-bottom: 1px solid $color__background-hr;
    }
}

.widget-area section:last-child {
    border-bottom: none;
}

#secondary {
  @include mq($until: tablet) {
      margin-top: rem-calc(30);
  }
}

#secondary .ehutnik-widget {
  border-top: 1px solid $color__background-hr;
  padding-top: rem-calc(24);
  padding-bottom: rem-calc(36);

  @include mq($until: tablet) {
      padding-top: rem-calc(24);
  }
}

.widget_ehutnik_recent_category_posts+.ehutnik-widget {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/*
 * Widget Krátké zprávy
 */

.widget_ehutnik_kratkezpravy {
    //border-bottom: none !important;
    //padding-bottom: 0;

    .widget-title {
        margin-top: rem-calc(24);
    }

    ul {
        @include mq($from: desktop) {
            height: 48rem;
            overflow-y: scroll;
            padding-right: 1.5rem;
            margin-right: 1rem;
            box-shadow: inset 0 7px 7px -7px rgba(0, 0, 0, 0.25),
                        inset 0 -7px 9px -7px rgba(0, 0, 0, 0.2);
            border-radius: 3px;
            padding-bottom: .5rem;
            padding-left: .5rem;
            padding-top: .5rem;

        }
    }

    li {
            margin-bottom: rem-calc(24);

            &:last-child() {
                margin-bottom: 0;
            }

            @include mq($until: tablet) {
                &:nth-child(n+4) {
                    display: none;
                }
            }
    }

    .entry-meta, p {
        margin: 0;
    }
}

/*
 * Společné odsazení widgetů
 */

.widget_ehutnik_pocasi,
.widget_ehutnik_svatky,
#secondary.widget-area .ehutnik-widget {
    @include mq($from: tablet) {
        padding-left: rem-calc(14);
        padding-right: rem-calc(14);
    }
}

/*
 * Widget Počasí
 */

.widget_ehutnik_pocasi {
    margin-bottom: 0;
    border-bottom: none !important;

    .ehutnik_pocasi_pruh {
        @include clearfix();

        li:nth-child(n+2) {
            display: none;

            @include mq($from: desktop) {
                display: block;
            }
        }

        li {
            &:last-child {
                margin-right: 0;
            }

            @include susy-at($desktop) {
                float: left;
                width: span(1 of 4);
                margin-right: gutter( of 4 );

                //text-align: center;
            }

            img {
                max-width: rem-calc(28);

                @include susy-at($desktop) {
                    max-width: rem-calc(40);
                    margin-top: rem-calc(4);
                }
            }

            span {
                @include mq($from: desktop) {
                    display: block;
                    max-width: 3rem;
                    text-align: center;
                }
            }

            .pocasi-ikona_teplota {
                @include mq($from: desktop) {
                    max-width: 3rem;
                    text-align: center;
                }
            }
        }
    }
}

/*
 * Widget Svátky
 */

.widget_ehutnik_svatky {
    border-bottom: none !important;
    margin-bottom: 0;
}

/*
 * Widget Kurzy
 */

.widget_ehutnik_kurzy {
    @include mq($until: tablet) {
        display: none;
    }

    ul {
        background: $color__brand-bright-bg;
        border-radius: 2rem;
        display: table;
        margin-bottom: rem-calc(4);
        width: 100%;

        li {
            border-right: 1px solid $color__white;
            display: table-cell;
            font-size: rem-calc(15);
            line-height: rem-calc(15);
            padding: rem-calc(7) rem-calc(16) rem-calc(9) rem-calc(16);
            text-align: center;
            vertical-align: middle;

            &:last-child() {
                border-right: none;
            }

            span,
            strong {
                display: inline-block;
                vertical-align: middle;
            }

            .kurz-symbol {
                color: $color__brand-secondary;
                font-family: $font__headings;
                font-size: rem-calc(19);
                line-height: rem-calc(19);
                margin-right: rem-calc(10);
            }
        }
    }
}

/*
 * Widgety s reklamou
 */

.ehutnik-adlabel {
    font-size: rem-calc(12);
    font-weight: bold;
    text-transform: uppercase;
}

.ehutnik-widget {
    .ehutnik-vodorovny-vypis {
        max-width: rem-calc(728); /* Max width of banner ad */
        margin: 0 auto;
    }
}

.ehutnik-widget > div,
.ehutnik-textova-inzerce{
    position: relative;

    .ehutnik-adlabel {
        position: absolute;
        bottom: -18px;
    }
}

.ehutnik-widget > div {
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
}

.ehutnik-textova-inzerce {
    border: 1px solid #d0d0d0;
    margin-bottom: rem-calc(48);
    padding: rem-calc(13);

    @include mq($from: tablet) {
        margin-top: -4px;
    }

    .ehutnik-adlabel {
        bottom: -24px;
        left: 0;
    }

    h1 {
        margin: 0 0 0.67em 0;
    }

    p {
        margin-top: 0;
        margin-bottom: 0;
        font-size: rem-calc(14);
        line-height: rem-calc(23);
    }
}

.ehutnik-pr-clanek {
    background-color: #F0F3F6;
    margin: -0.5rem -1rem 2rem -1rem;
    padding: 1rem;

    @include mq($from: tablet) {
        margin-top: 0;
    }

    .hentry {
        margin-bottom: 0;
    }

    & + .hentry {
        margin-top: 1.5rem;

        @include mq($from: tablet) {
            margin-top: 2rem;
        }
    }

}

.ehutnik-pr-clanky {
    .ehutnik-adlabel {
        clip: rect(1px 1px 1px 1px);
        overflow: hidden;
        width: 1px;
        height: 1px;
    }
}

/*
 * Category posts on homepage
 */
.widget_ehutnik_homepage_category_posts {
    .category-header {

        .category-tags {
            list-style-type: none;
            margin: 0;
            padding: 0;

            a {
                @include mq($until: tablet) {
                    font-size: rem-calc(13);
                }
            }

            li {
                display: inline-block;
                margin-left: rem-calc(8);

                @include mq($from: tablet) {
                    margin-left: rem-calc(32);
                }
            }

            /* Hide additional tags (>3) on mobile */
            li:nth-child(n+4) {
                @include mq($until: tablet) {
                    display: none;
                }
            }
        }
    }

    .category-footer {
        .icon {
            font-size: 1rem;

            &:after {
                font-size: 10px;
                display: none;
            }
        }

        @include mq($until: tablet) {
            text-align: center;

            .icon {
                display: inline-block;

                &:after {
                    display: inline-block;
                    margin-left: rem-calc(10);
                }
            }
        }
    }
}

.foobar.widget_ehutnik_recent_category_posts {
    margin-bottom: 0;
}

.widget.widget_ehutnik_recent_category_posts:first-child,
.widget.widget_ehutnik_recent_category_posts:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

/*
 * Odkazy v záhlaví
 */

.links-area {
  @include mq($until: tablet) {
    display: none;
  }

  background-color: $color__background-linksbar;
  color: #D6D6D6;
  font-size: rem-calc(12);
  line-height: rem-calc(30);

  a,
  a:visited,
  a:active,
  a:focus {
    color: #D6D6D6;
    text-decoration: none;
  }

  a:hover {
    color: $color__brand-secondary;
    text-decoration: underline;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: right;
  }

  li {
    display: inline-block;
    margin-left: rem-calc(32);
  }
}
