/**
 * CSS styles for custom elements in TinyMCE editor
 */

blockquote:before {
    background-color: #c0c0c0;
    content: "";
    display: block;
    margin-bottom: 10px;
    height: 4px;
    width: 145px;
}

blockquote footer,
blockquote cite {
    color: #666;

    font-style: normal;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 18px;
    margin-top: 10px;

    display: block;

    border: 1px dashed #c0c0c0;
    padding: 18px 8px 3px;
    position: relative;
}

blockquote cite:before {
    content: "citovaná osoba:";
    display: block;
    color: #939393;
    font-size: 10px;
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 9px;
    text-transform: uppercase;
}
