a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

.post--regular,
.post--nointro,
.post--featured {
  .entry-title {
    a,
    a:visited,
    a:active {
      color: $color__black;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
      color: $color__link;
    }
  }

  &:hover {
    .entry-title a {
			color: $color__link;
      text-decoration: underline;
    }
  }

	.entry-content {
		& a.read-more,
		& a:visited.read-more,
		& a:hover.read-more,
		& a:active.read-more {
			text-decoration: none;
			color: $color__gray-medium;
		}
	}
}
