.main-navigation {
    display: block;

    @include mq($from: desktop) {
        float: right;
        top: 0;
        margin-right: 70px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding-left: 0;

        ul {
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            float: left;
            position: absolute;
            top: 100%;
            left: -999em;
            z-index: 99999;

            ul {
                left: -999em;
                top: 0;
            }

            li {
                &:hover > ul,
                &.focus > ul {
                    left: 100%;
                }
            }

            a {
                width: 200px;
            }

            :hover > a,
            .focus > a {
            }

            a:hover,
            a.focus {
            }
        }

        li:hover > ul,
        li.focus > ul {
            left: auto;
        }
    }

    li {
        display: inline-block;
        position: relative;
        padding-top: rem-calc(8);
        padding-bottom: rem-calc(8);

        @include mq($from: tablet) {



        }

        @include mq($from: desktop) {
            padding: rem-calc(19) rem-calc(8);
            margin: 0 rem-calc(10);
            text-align: center;

            a {
                color: $color__black;
            }

            &.menu-item-object-page {
                margin-left: rem-calc(16);

                a {
                    color: $color__brand-secondary;
                    font-weight: bold;
                }
            }
        }

        &:hover > a,
        &.focus > a {
        }
    }

    li,
    li.current-menu-item {
        @include mq($from: desktop) {
            &:after {
                display: block;
                content: "";
                height: 4px;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                opacity: 0;
                transition: opacity .5s;
                background-color: $color__brand-secondary;
            }

            &:hover:after {
                opacity: 1;
            }
        }
    }

    li.current-menu-item {
        @include mq($from: desktop) {
            &:after {
                opacity: 1;
            }
        }
    }

    a {
        display: block;
        text-decoration: none;
    }

    .current_page_item > a,
    .current-menu-item > a,
    .current_page_ancestor > a,
    .current-menu-ancestor > a {
    }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}

#primary-menu {
    right: 0;
    background: $color__brand-primary;
    width: 65%;
    top: rem-calc(48);
    padding: rem-calc(4) rem-calc(16) rem-calc(8) rem-calc(16);
    position: absolute;
    z-index: 999;

    .toggled & {
        background-color: darken($color__brand-primary, 10%);
    }

    @include mq($from: 480px) {
        width: rem-calc(240);
    }

    @include mq($from: tablet) {
        top: rem-calc(48);
        right: gutter();
        background-color: transparent;
        width: rem-calc(250);
    }

    @include mq($from: desktop) {
        position: relative;
        right: 0px;
        top: 0px;
        padding: 0;
        background: transparent;
        width: auto;
        z-index: 0;

        .toggled & {
            background-color: transparent;
        }
    }
}

.main-navigation .menu {
    @include mq($until: tablet) {
	    transform: translateX(100%);
	    transition: 0.3s;
    }
    @include mq($from: tablet, $until: desktop ) {
        transform: translateY(-200%);
        transition: 0.3s;
    }
}

.main-navigation.toggled .menu {
    @include mq($until: tablet) {
        transform: translateX(0%);
    }
    @include mq($from: tablet, $until: desktop ) {
        transform: translateY(0%);
    }
}

.main-navigation {
    @include mq($until: desktop) {
        li {
            display: block;
            border-bottom: 1px solid #955356;

            &:last-child() {
                border-bottom: none;
            }
        }
    }
}

.menu-toggle {
    position: absolute;
    top: 0em;
    right: 0px;

    overflow: hidden;
    margin: 0;
    padding: 0;

    width: 50px;
    height: 48px;

    text-indent: -9999px;

    appearance: none;
    box-shadow: none;
    border-radius: 0;
    border: none;
    cursor: pointer;

    background: $color__brand-primary;
    transition: background 0.3s;

    @include mq($from: tablet) {
        //top: 7px;
        right: gutter();
        background-color: transparent;
    }

    .toggled & {
        background: darken($color__brand-primary, 10%);
    }

    &, &:hover, &:active, &:focus {
        box-shadow: none;
        outline: none;
    }

    & span {
        display: block;
        position: absolute;
        top: 22px;
        left: 14px;
        right: 14px;
        height: 3px;
        background: $color__white;
        border-radius: 0px;

        transition: background 0s 0.3s;

        @include mq($from: tablet) {
            background: $color__brand-primary;
        }

        &::before,
        &::after {
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: $color__white;
            border-radius: 0px;
            content: "";
            transition-duration: 0.3s, 0.3s;
            transition-delay: 0.3s, 0s;

            @include mq($from: tablet) {
                background: $color__brand-primary;
            }
        }

        &::before {
            /* autoprefixer: off */
            top: -8px;
            -webkit-transition-property: top, -webkit-transform;
            transition-property: top, -webkit-transform;
            transition-property: top, transform;
        }

        &::after {
            /* autoprefixer: off */
            bottom: -8px;
            -webkit-transition-property: bottom, -webkit-transform;
            transition-property: bottom, -webkit-transform;
            transition-property: bottom, transform;
        }
    }

    //&.is-active span {
    .toggled & span {
        background: none;

        &::before {
            top: 0;
            transform: rotate(45deg);
        }

        &::after {
            bottom: 0;
            transform: rotate(-45deg);
        }

        &::before,
        &::after {
            transition-delay: 0s, 0.3s;

            @include mq($from: tablet) {
                background: $color__white;
            }
        }
    }
}

//@media screen and (min-width: 37.5em) {
@include mq($from: desktop) {
    .menu-toggle {
        display: none;
    }
    .main-navigation ul {
        display: block;
    }
}


.footer-navigation {
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        & > li {
            display: inline-block;

            &.menu-item-has-children {
                & > a {
                    display: none;
                }

                &:first-child {
                    display: none;

                    @include mq($from: tablet) {
                        display: inline-block;

                        & > ul {
                            display: inline-block;
                        }
                    }

                    @include mq($from: 800px) {
                        margin-left: rem-calc(24);
                    }

                    @include mq($from: 1150px) {
                        //margin-left: rem-calc(32);

                        & > a {
                            display: inline-block;
                            font-weight: bold;
                            font-size: rem-calc(18);
                            margin-right: rem-calc(16);
                            line-height: 18px;
                        }
                    }
                }

                a {
                    cursor: default;
                }

                ul {
                    vertical-align: bottom;

                    li {
                        border-left: 1px solid $color__white;
                        padding: 0 rem-calc(6) 0 rem-calc(12);
                        line-height: rem-calc(16);

                        @include mq($from: desktop) {
                            padding-right: rem-calc(12);
                        }

                        &:first-child() {
                            padding-left: 0;
                            border-left: none;
                        }

                        &:last-child() {
                            padding-right: 0;
                        }

                        &#menu-item-13734 {

                            @include susy-at($desktop) {
                                border: none;
                                padding-top: .5rem;
                                padding-right: rem-calc(12);
                            }
                        }
                    }
                }
            }

        }
    }
}



.comment-navigation,
.posts-navigation,
.post-navigation {

    .site-main & {
        margin: 0 0 1.5em;
        overflow: hidden;
    }

    .nav-previous {
        float: left;
        width: 50%;
    }

    .nav-next {
        float: right;
        text-align: right;
        width: 50%;
    }
}
