input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: $color__text-input;
    border: 1px solid $color__border-input;
    border-radius: 5px;
    padding: 3px 8px;

    width: 100%;

    @include mq($from: tablet) {
        width: 48%;
    }

    &:focus {
        color: $color__text-input-focus;
    }
}

input[type="checkbox"],
input[type="radio"] {
    width: 16px;
    height: 16px;
}

button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    background-color: $color__brand-primary;
    color: $color__white;
    border: none;
    padding: .5em 3em 0.6em;
    font-size: 1rem;
    text-transform: uppercase;
}

input[disabled],
input[disabled=disabled],
button[disabled],
button[disabled=disabled] {
    cursor: not-allowed !important;
    background-color: #a9a9a9;
}


select {
    border: 1px solid $color__border-input;
}

textarea {
    width: 100%;
}

label {
    line-height: 1.3;
}

/* WPCF */
.wpcf7-form {
    label {
        font-weight: bold;
    }

    label .wpcf7-form-control-wrap,
    small {
        font-weight: normal;
    }

    .wpcf7-form-control-wrap {
        margin-bottom: rem-calc(5);
        margin-top: rem-calc(5);
        display: block;
    }

    .no-bottom-margin {
        margin-bottom: 0;

        & + p {
            margin-top: 0.5rem;
        }
    }

    .hide_this_file {
        padding: 0.2rem 0.5rem;
        display: block;

        &:first-child {
            padding-top: 0;
        }

        &:nth-child(even) {
            background-color: lighten($color__background-pre, 2%);
        }

        a.del_file {
            margin-left: 0.5rem;
        }
        @include mq($from: 'tablet') {
            .wpcf7-form-control-wrap {
                width: 80%;
                display: inline-block;
            }

            a.del_file {
                display: inline-block;
                width: 18%;
                text-align: right;
                margin-left: 1%
            }
        }
    }

    .checkbox-souhlas {
        display: inline-block;
        margin-right: rem-calc(6);
    }

    span.wpcf7-list-item {
        display: block;
        margin: rem-calc(6) 0 rem-calc(6) 0;

        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    span.wpcf7-list-item-label {
        font-weight: normal;

        &:before {
            display: inline-block;
            width: rem-calc(8);
        }
    }

    .no-bold {
        font-weight: normal;
    }

    small {
        font-size: 95%;
        line-height: 1.3;
        display: block;
        color: #858585;
    }

    .g-recaptcha {
        @include mq($until: 340px) {
            transform: scale(0.92);
            transform-origin: 0 0;
        }
    }

    .wpcf7-submit {
        margin-top: 1rem;
    }

    .wpcf7-response-output {
        margin-left: 0;
        margin-right: 0;
    }

    .wpcf7-validation-errors {
        border-color: $color__alert-danger;
        background-color: $color__alert-danger;
        color: $color__white;
        border-radius: 2px;
        text-align: center;
    }

    .wpcf7-not-valid-tip {
        color: $color__alert-danger;
    }

    .wpcf7-not-valid {
        border: 2px solid red !important;
        margin-bottom: 5px;
    }

    .form-section.form-section--objednavajici {

        @include mq($from: tablet) {
            .col-2 {
                @include clearfix();

                input {
                    width: 100%;
                }

                p {
                    width: 48%;
                    float: left;
                    margin-right: 2%;
                    margin-top: 0;
                }

                p:nth-child(2n) {
                    margin-right: 0;
                    margin-left: 2%;
                }

                p:nth-child(odd) {
                    clear: left;
                }
            }
        }
    }
}
/* !WPCF */

form {
    font-size: rem-calc(14);
    line-height: 1.6;
}

//.page,
.search,
.error404 {
    .page-content {
        @include mq($until: tablet) {
            input {
                max-width: 94%;
                margin-bottom: 0.5rem;
            }
        }
    }
}
