.site {
    position: relative;
    overflow: hidden;
}

.site-header {
    max-width: $site-width;
    margin-left: auto;
    margin-right: auto;
}

.site-content,
.site-header,
.site-footer .site-info,
.site-footer .footer-nav,
.hp-section .category-header,
.fullw .category-header,
.hp-section .gallery-header,
.hp-section .category-footer,
.fullw .category-footer,
.hp-section .gallery-footer,
.hp-section .news-container,
.fullw .recent-news-container,
.links-area ul {
    //background: svg-grid() no-repeat scroll;
    //max-width: 75rem; // 1200/16
    max-width: $site-width;
    clear: both;

    padding-right: gutter();
    padding-left: gutter();


    @include susy-at($desktop) {
        //background: svg-grid() no-repeat scroll;

        padding-left: 30px;
        padding-right: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    /*&::after {
        clear: both;
        content: ' ';
        display: block;
    }*/

    @include clearfix();
}

.site-header {
    @include susy-at($tablet) {
        width: span(8);
        position: relative;
    }
}

.site-content {
    margin-bottom: 2rem;

    @include susy-at($tablet) {
        margin-bottom: 3rem;

        &:before {
            content: " ";
            border-bottom: 1px solid $color__menu-border-bottom;
            height: 1px;
            width: 100%;
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top: 78px;
            z-index: -1;
        }
    }

    @include susy-at($desktop) {
        margin-bottom: 4rem;

        &:before {
            top: 91px;
        }
    }
}

.home .site-content {
    @include susy-at($desktop) {
        margin-bottom: 2rem;
    }
}

.site-main {
    width: span(6);
    //padding-right: gutter();
    //padding-left: gutter();

    @include susy-at($tablet) {
        padding-top: 1.5rem;
    }

    @include susy-at($desktop) {
        float: left;
        width: span(8);
        margin-right: gutter();
        //padding-left: gutter( of 8 );
        padding-right: gutter( of 8 );
        padding-top: 0;
    }
}

.error404 .site-main,
.page .site-main {
    @include susy-at($desktop) {
        float: none;
        width: span(10);
        margin-right: auto;
        margin-left: auto;
        padding-right: 0;
    }
}

.error404 .site-main,
.page-template-page-inzerce .site-main {
    max-width: rem-calc(770);
    margin: 0 auto;
}

.error404 {
    .site-content {
        background: url('../img/404BG.png') no-repeat top center;
        background-size: 400px;

        max-width: rem-calc(350);
        min-height: rem-calc(350);
        text-align: center;

        margin-left: auto;
        margin-right: auto;
        margin-bottom: 6rem;

        @include susy-at($tablet) {
            max-width: unset;
            margin-top: 4rem;
        }
        @include susy-at($desktop) {
            margin-top: 0rem;
        }
    }

    .page-header {
        padding-top: 8rem;
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;

        @include susy-at($tablet) {
            padding-top: 6rem;
        }
        @include susy-at($desktop) {
            padding-top: rem-calc(123);
        }
    }

    .page-content {
        margin-top: 8rem;

        @include susy-at($tablet) {
            margin-top: 9rem;
        }
    }
}

.links-area ul {
    @include susy-at($tablet) {
        padding-right: gutter();
        padding-left: gutter();
    }
    @include susy-at($desktop) {
        padding-right: gutter( of 12 );
        padding-left: gutter( of 12 );
    }
}

.widget-area {
    @include susy-at($desktop) {
        float: right;
        width: span(4);
        //padding-right: gutter( of 8 )
    }
}

#secondary.widget-area {
    @include mq($until: tablet) {
        //padding-right: gutter();
        //padding-left: gutter();
    }
}

/*
 * Harakiri se svátky a počasím na mobilu
 */
@include mq($until: desktop) {
    #topinfo {
        border-bottom: 1px solid $color__background-hr;

        align-items: center;
        display: flex;
        justify-content: space-between;

        padding-right: gutter();
        padding-left: gutter();
        padding-top: rem-calc(6);
        padding-bottom: rem-calc(6);
        margin-left: gutter() * -1;
        margin-right: gutter() * -1;

        .widget {
            padding-bottom: 0;
        }

        .widget_ehutnik_pocasi {
            order: 2;

            .pocasi-den {
                display: none;
            }

            .pocasi-ikona_teplota {
                display: flex;
                align-items: center;

                img {
                    vertical-align: middle;
                    order: 2;
                }

                .pocasi-teplota {
                    order: 1;
                    margin-right: .5rem;
                }
            }
        }

        .widget_ehutnik_svatky {
            order: 1;
        }
    }
}



/**
 * Archiv
 */
.archive {
    #topinfo {
        @include mq($from: tablet) {
            margin-top: rem-calc(48);
        }
        @include mq($from: desktop) {
            margin-top: rem-calc(68);
        }
    }
}

/*
 * Full width homepage sections
 */

.hp-section,
.fullw {
    clear: both;
    @include clearfix();

    padding-top: rem-calc(32);
    padding-bottom: rem-calc(36);

    @include mq($until: tablet) {
        border-bottom: 1px solid darken($color__brand-bright-bg, 10);
    }

    @include susy-at($desktop) {
        padding-top: rem-calc(48);
        padding-bottom: rem-calc(48);
    }
}

/*
 * full-width AD section
 */
.hp-section.ehutnik-widget {
    background: $color__brand-bright-bg;
    border-bottom: none;
    width: 100%;
    padding-right: gutter();
    padding-left: gutter();
}

.hp-section.ehutnik-widget,
.hp-section:nth-child(odd),
.fullw.foobar {
    @include susy-at($desktop) {
        background: $color__brand-bright-bg;
        padding-top: rem-calc(48);
        padding-bottom: rem-calc(48);
    }
}

.fullw.foobar {
    background: $color__brand-bright-bg;
}

.hp-section.category-dobre-rady,
.hp-section#ehutnik_homepage_category_posts-11 {
    @include mq($until: desktop) {
        background: $color__brand-bright-bg;
    }

    border-bottom: none;

    .news-container {
        margin-top: rem-calc(16);
    }
}
.hp-section#ehutnik_homepage_category_posts-10 {
    @include mq($until: tablet) {
        border-bottom: none;
    }
}

/*
 * Category posts on homepage – header and footer layout
 */
.widget_ehutnik_homepage_category_posts {
    .category-header {
        display: table;
        width: 100%;

        .section-title {
            display: table-cell;
        }
        .category-tags {
            display: table-cell;
            text-align: right;
        }
    }
}

/*
 * Posts in news container
 */

.news-container {
    position: relative;
    //margin-top: rem-calc(16);

    @include susy-at($tablet) {
        margin-top: rem-calc(20);
    }

    @include clearfix;

    .post--featured {
        @include susy-at($tablet) {
            clear: none;
            float: left;
            width: span(3.6 of 8);  // 45%
            margin-right: gutter();
        }

        @include susy-at($desktop) {
            clear: none;
            float: left;
            width: span(5 of 12);
            margin-right: gutter();
        }
    }

    .post--nointro {
        @include susy-at($tablet) {
            clear: none;
            float: left;
            width: span(4.4 of 8) - gutter();  // 55%
        }

        @include susy-at($desktop) {
            clear: none;
            float: left;
            width: span(3.5 of 12) - ( gutter() / 2 );
            margin-right: gutter();
        }
    }

    .post--textonly,
    .ehutnik-textova-inzerce {
        @include susy-at($desktop) {
            clear: none;
            float: left;
            width: span(3);
            margin-right: gutter();
            padding-right: gutter() / 2;
        }
    }

    article:last-child {
        margin-right: 0;
    }
}

.fullw .recent-news-container {
    position: relative;
    //margin-top: rem-calc(16);

    @include susy-at($tablet) {
        margin-top: rem-calc(20);
    }

    @include clearfix;

    .post {
        @include susy-at($tablet) {
            clear: none;
            float: left;
            width: span(2);
            margin-right: gutter();
            margin-bottom: 0;
        }
        @include susy-at($desktop) {
            width: span(3) - ( gutter() / 2);
            margin-right: gutter() + ( gutter() / 1.5 );
            margin-bottom: 0;
        }
    }

    article:last-child {
        margin-right: 0;
        margin-bottom: 0;
    }
}

/*
 * Archiv autora a medailonek
 */

.search-no-results .site-main {
    margin-bottom: 4rem;
}

.archive,
.search-results {
    .page-header {
        .archive-title {
            margin-top: rem-calc(10);
            margin-bottom: rem-calc(0);
        }

        @include mq($from: tablet) {
            margin-top: 0;
            margin-bottom: rem-calc(28);

            .archive-title {
                margin-top: 0;
            }
        }
    }
}

.archive.author {
    .page-header {
        border-bottom: 1px solid $color__background-hr;
        margin-top: rem-calc(20);
        margin-bottom: rem-calc(23);
        padding-bottom: rem-calc(30);

        @include mq($from: tablet) {
            margin-bottom: rem-calc(28);
            padding-bottom: rem-calc(36);
        }

        @include clearfix();

        &.has-user-photo {
            img {
                width: rem-calc(86);
                border-radius: 100%;
                vertical-align: middle;
                margin-right: 18px;

                @include mq($from: tablet) {
                    width: rem-calc(168);
                    float: left;
                    margin-right: rem-calc(200) * -1;
                }
            }

            .user-container {
                display: inline-block;
                width: calc( 100% - 106px );
                vertical-align: middle;

                @include mq($from: tablet) {
                    float: left;
                    margin-left: rem-calc(200);
                    width: auto;
                }
            }

            .archive-title {
                clear: none;
                margin: 0 0 rem-calc(5) rem-calc(2);

                @include mq($from: tablet) {
                    margin-top: rem-calc(10);
                    margin-bottom: rem-calc(10);
                }
            }

            .author-email {
                i {
                    margin-right: rem-calc(5);
                }

                a {
                    font-size: rem-calc(14);
                }
            }

            .archive-description {
                clear: both;
                padding-top: rem-calc(20);

                @include mq($until: tablet) {
                    margin: 0 rem-calc(6);
                }

                @include mq($from: tablet) {
                    clear: none;
                    float: left;
                    margin-left: rem-calc(200);
                    padding-top: rem-calc(10);
                    width: auto;
                    max-width: rem-calc(520);
                }

                p {
                    margin: 0;
                }
            }
        }

        @include mq($from: tablet) {
            margin-top: 0;
        }
    }
}

/**
 * Medailony redaktorů v kontaktech
 */
.page-template-page-kontakty {
    .entry-content {
        @include clearfix();

        margin-top: 2rem;

        @include susy-at($tablet) {
            margin-top: 3rem;
        }
    }

    .column {
        width: 49%;
        margin-right: 2%;
        float: left;

        @include susy-at($tablet) {


            &:nth-child(2n) {
                margin-right: 0;
            }

            &:nth-child(2n+1) {
                clear: left;
            }
        }


    }
}

.kontakty-row {
    padding-top: 3rem;
    padding-bottom: 1rem;
    border-top: 1px solid $color__background-hr;

    &:first-child {
        padding-top: 4rem;
        padding-bottom: 3rem;
    }

    .widget-title {
        margin-top: 0;
        margin-bottom: rem-calc(36);
    }
}
.kontakty-container {
    @include clearfix();
}
.user-medailon {
    position: relative;
    margin-bottom: 2rem;

    @include clearfix();

    .user-photo {
        float: left;
        width: rem-calc(86);
        height: rem-calc(86);
        margin-right: rem-calc(86) * -1;

        img {
            border-radius: 100%;
        }
    }

    .user-container {
        float: left;
        margin-left: rem-calc(100);

        @include clearfix();

        //@include mq($from: tablet) {
            float: none;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        //}
    }

    &.medailon-normal {
        @include mq($from: tablet, $until: desktop ) {
            width: 49%;
            margin-right: 2%;
            float: left;

            &:nth-child(2n) {
                margin-right: 0;
            }

            &:nth-child(2n+1) {
                clear: left;
            }
        }
        @include mq($from: desktop ) {
            width: 32%;
            margin-right: 2%;
            float: left;

            &:nth-child(3n) {
                margin-right: 0;
            }

            &:nth-child(3n+1) {
                clear: left;
            }
        }

        @include mq($from: tablet) {
            .user-photo {
                width: rem-calc(100);
                height: rem-calc(100);
                margin-right: rem-calc(100) * -1;
            }

            .user-container {
                margin-left: rem-calc(124);
            }
        }

    }

    &.medailon-large {
        @include mq($from: tablet) {
            width: 49%;
            margin-right: 2%;
            float: left;

            &:nth-child(2n) {
                margin-right: 0;
            }

            &:nth-child(2n+1) {
                clear: left;
            }

            .user-photo {
                width: rem-calc(168);
                height: rem-calc(168);
                margin-right: rem-calc(168) * -1;
                float: left;
            }
            .user-container {
                float: left;
                margin-left: rem-calc(192);
            }
        }

    }

}
