.site-footer {
    background-color: $color__brand-primary;
    color: $color__brand-secondary;
    text-align: center;

    @include mq($from: tablet) {
        text-align: left;
    }

    .footer-nav {
        padding: rem-calc(30) rem-calc(16) 0 rem-calc(16);

        @include mq($from: tablet) {
            padding: rem-calc(48) 0 rem-calc(24) 0;
        }
    }

    .site-info {
        padding: 0 rem-calc(16) rem-calc(36) rem-calc(16);

        @include mq($from: tablet) {
            padding: rem-calc(24) 0 rem-calc(30) 0;
        }
    }

    a {
        color: $color__white;
        text-decoration: none;

        &.icon {
            line-height: 24px;
            height: 24px;
            margin-left: rem-calc(22);
            //margin-right: rem-calc(11);

            &:first-child() {
                margin-left: 0;
            }

            @include mq($from: tablet) {
                margin-left: rem-calc(10);
            }
        }

        &.logo {
            display: none;
            font-size: rem-calc(6); /* 42px výška loga */

            @include mq($from: tablet) {
                display: block;
            }
        }
    }
    a:hover {
        color: $color__brand-secondary;
        text-decoration: underline;
    }
    p {
        font-size: rem-calc(14);
        line-height: rem-calc(23);
        margin: 0;
    }

    // Layout
    .logo {
        @include susy-at($tablet) {
            width: 35%;
            float: left;
            margin-bottom: 0;
        }

        @include susy-at($desktop) {
            width: rem-calc(220);
        }
    }

    .footer-navigation {
        @include susy-at($tablet) {
            width: 64%;
            float: right;
            margin-bottom: 0;
            text-align: right;
        }

        @include susy-at($desktop) {
            width: auto;
            float: none;
            text-align: left;

            margin-top: 0.5rem;

            @include clearfix();

            & .menu-footer-container > ul {
                & > li {
                    float: left;

                    &:last-child() {
                        float: right;
                        max-width: 22rem;
                        text-align: right;
                    }
                }
            }
        }
    }

    .copyright-notice {
        @include susy-at($tablet) {
            width: 75%;
            float: left;
            margin-bottom: 0;
        }
    }

    .footer-socials {
        line-height: rem-calc(24);
        margin-top: rem-calc(28);
        margin-bottom: rem-calc(24);

        @include susy-at($tablet) {
            text-align: right;
            width: 25%;
            float: right;
            margin-bottom: 0;
            margin-top: 0;
        }
    }

}
