.site-header {
    padding-left: gutter();
    padding-right: gutter();

    @include susy-at($tablet) {
        margin-bottom: rem-calc(48);
    }

	@include susy-at($desktop) {
        margin-bottom: rem-calc(56);
    }

    .site-branding {
        @include mq($from: tablet) {
            background-color: $color__brand-primary;

            width: rem-calc(188);
            text-align: center;
            top: rem-calc(30) * -1;
            position: absolute;

            padding: rem-calc(12) 0 rem-calc(11) 0;
        }

        @include mq($from: desktop) {
            padding: rem-calc(18) 0 rem-calc(14) 0;
        }

        a {
            color: $color__white;
            margin: 0;
            @extend .icon;
            @extend .icon.ehutnik_negativ;
            font-size: 3.46px;
            /* Logo o výšce 24px */

            @include mq($from: tablet) {
                font-size: 4px;
            }

            @include mq($from: desktop) {
                font-size: 4.4px;
                /* Logo o výšce 30px */
            }

            .site-title {
                clip: rect(1px, 1px, 1px, 1px);
                position: absolute !important;
                height: 1px;
                width: 1px;
                overflow: hidden;
                word-wrap: normal !important;
            }
        }

        p.site-description {
            color: $color__brand-secondary;
            font-size: rem-calc(13);
            margin: rem-calc(5) 0 0 0;

            @include mq($from: desktop) {
                margin: rem-calc(8) 0 0 0;
            }
        }
    }

    @include mq($until: tablet) {
        background-color: $color__brand-primary;
        height: rem-calc(48);

        .site-branding {
            padding-top: rem-calc(10);
            padding-bottom: rem-calc(10);
        }

        .site-description {
            display: none;
        }
    }

    @include mq($until: desktop) {
        a {
            color: $color__white;
        }
    }

    .header-searchbox {
        text-align: right;

        position: absolute;
        top: 0;
        right: 60px;
        padding-top: rem-calc(9);

        @include mq($from: tablet) {
            top: inherit;
            padding-top: 0;
            right: rem-calc(90);
            margin-top: rem-calc(7);
        }

        @include mq($from: desktop) {
            right: 1.69492%;
            margin-top: rem-calc(14);
            //right: gutter();
        }

        &.focused {
            input[type="submit"] {
                display: block;
                position: absolute;
                top: 0;
                right: 1px;
                width: 32px;
                height: 29px;
                background: $color__white url('../img/lupa-cervena.svg') no-repeat right 7px center;
                border: none;
                text-indent: -9999px;
                border-radius: 30px;
                padding: 0;

                @include mq($from: tablet) {
                    top: 1px;
                    //right: 2px;
                }
            }
        }

        .search-form {
            position: relative;
        }

        input[type="submit"] {
            display: none;
        }

        input {
            outline: none;
        }

        input[type="search"] {
            -webkit-appearance: textfield;
            -webkit-box-sizing: content-box;
            font-family: inherit;
            font-size: 100%;
        }

        input::-webkit-search-cancel-button,
        input::-webkit-search-decoration {
            display: none;
        }

        input[type="search"] {
            background: $color__brand-secondary url('../img/lupa-cervena.svg') no-repeat right 6px center;
            border: solid 1px $color__brand-secondary;
            padding: 3px 32px 3px 12px;
            width: 15px;
            padding-right: 1px;
            color: transparent;
            cursor: pointer;
            border-radius: 10em;
            transition: all 0.5s;

            @include mq($from: tablet) {
                background-color: $color__brand-primary;
                background-image: url('../img/lupa-bila.svg');
                border-color: $color__brand-primary;

                padding-top: 4px;
                padding-bottom: 4px;
                width: 16px;
                background-position: right 7px center;
            }
        }

        input[type="search"]:focus,
        input[type="search"]:hover {
            width: 200px;
            background-color: $color__white;
            border-color: $color__white;
            padding-right: 32px;
            color: $color__black;
            cursor: auto;

            @include mq($from: tablet) {
                border-color: $color__brand-primary;
                width: 290px;
            }

            &::placeholder {
                color: #999;
            }
        }

        input[type="search"]:hover {
            background-color: $color__white;

            @include mq($from: tablet) {
                background-image: url('../img/lupa-cervena.svg');
            }
        }

        input:-moz-placeholder {
            color: transparent;
        }

        input::-webkit-input-placeholder {
            color: transparent;
        }

    }

}
