.sticky {
    display: block;
}

.hentry {
    margin: 0 0 2rem;
}


.entry-meta {
    color: $color__gray-medium;
    font-size: .63rem;
    margin: .38rem 0;
    text-transform: uppercase;
    letter-spacing: 0.5px;

    @include mq($from: tablet) {
      font-size: 0.75rem;
    }

    & a,
    & a:visited,
    & a:active,
    & a:hover {
        text-decoration: none;
        color: $color__gray-medium;
        white-space: nowrap;
    }

    .meta-important {
        color: $color__brand-primary;
        font-weight: 700;

        &:after {
          content: " / ";
          color: $color__gray-medium;
        }
    }
}

.entry-intro {
  margin-bottom: 0;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.entry-content.format-status {
    margin-top: 0.5rem;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

.breadcrumbs {
    font-size: rem-calc(12);
    color: $color__gray-light;

    margin-bottom: rem-calc(16);
    margin-top: 1rem;

    @include mq($from: tablet) {
        margin-top: 0;
    }

    a {
        color: $color__gray-light;
        text-decoration: none;

        &:hover {
            color: $color__brand-primary;
            text-decoration: underline;
        }
    }
}

.single .site-main {
    .hentry {
        div.ehutnik-adlabel {
            display: none;
        }

        .entry-meta,
        .share-this,
        a[rel="author"],
        .prispevatel,
        span.ehutnik-adlabel  {
            @include mq($from: phone) {
                display: inline-block;
                width: 49%;
                vertical-align: middle;
            }

            @include mq($from: widecol) {
                display: inline-block;
                width: 49.5%;
            }
        }


        .share-this.left {
            @include mq($from: tablet) {
                width: 27%;
            }
        }

        a[rel="author"],
        .prispevatel,
        span.ehutnik-adlabel  {
            @include mq($from: tablet) {
                width: 72%;
            }
        }

    }

    .header-image {
        .wrapper {
            position: relative;

            @include mq($until: tablet) {
                margin: 0 ( gutter() * -1 );
            }
        }

        .gallery-data {
            color: $color__white;
            text-decoration: none;

            @include mq($until: tablet) {
                bottom: 0.8rem;
            }
        }

        @include mq($from: tablet) {
          width: span(7.5 of 8);
          bottom: 0.5rem;
      }
    }

    .entry-meta-row {
        @include mq($from: tablet) {
          width: span(7.5 of 8);
        }

    }

    a[rel="author"],
    .prispevatel,
    span.ehutnik-adlabel {
        color: $color__gray-dark;
        font-weight: bold;
        font-size: rem-calc(14);
        text-align: right;
        text-decoration: none;
    }

    .entry-content {
        @include susy-at($tablet) {
            max-width: span(7 of 8);
        }

        @include susy-at($tablet) {
            blockquote,
            figure {
                //margin-right: ( span(1 of 8) + gutter() ) * -1;
                margin-right: ( span(0.87 of 8)  ) * -1;    // Zarovnání na pravou hranu hlavní fotky
                max-width: rem-calc(340);
                float: right;
            }
        }

    }

    .entry-footer {
        clear: both;

        @include susy-at($tablet) {
            margin-top: rem-calc(32);
            max-width: span(7 of 8);
        }

        @include mq($until: phone) {
            display: flex;
            flex-direction: column;

            .share-this {
                order: 2;
                text-align: center;
            }
            a[rel="author"],
            .prispevatel,
            span.ehutnik-adlabel {
                order: 1;
                //text-align: left;
                margin-bottom: 2rem;
            }
        }
    }
}

/*
 * Share this
 */

.share-this {
    vertical-align: middle;

    .icon {
        line-height: rem-calc(24);
    }

    a {
        margin-right: rem-calc(3);

        &:last-child {
            margin-right: 0;
        }
    }

    &.right {
        @include susy-at($phone) {
            text-align: right;
        }
    }
}

.post--regular,
.post--nointro {
  @include clearfix;

  .entry-header {

    .entry-meta {
      margin-top: -3px;
      margin-bottom: 0;

      .icon.camera {
          margin-left: rem-calc(6);
      }
    }

    .entry-title {
      margin: 0;
    }

  }

  .entry-content {
    display: none;
  }

  &.has-post-thumbnail,
  &.no-post-thumbnail {
        .header-image {
            float: left;
            width: rem-calc(64);
            height: rem-calc(64);
            margin-right: rem-calc(-64);
            overflow: hidden;
            position: relative;

            img {
                position: absolute;
                height: 100%;
                max-width: unset;
                width: auto;
                left: 50%;
                transform: translateX(-50%);
            }

            @include mq($from: widecol, $until: tablet) {
                width: rem-calc(96);
                height: rem-calc(96);
                margin-right: rem-calc(-96);
            }
        }

        .entry-header {
            float: left;
            margin-left: rem-calc(80);

            @include mq($from: widecol, $until: tablet) {
                margin-left: rem-calc(112);
            }
        }
    }
}

/*
 * Regular post in the archive listing with
 * – title
 * – meta
 * – intro-text
 */

.post--regular {
  clear: both;

  @include susy-at($tablet) {

        .entry-header {
            margin-left: 0;

            .entry-title {
                margin: rem-calc(8) 0;
            }
        }

        .entry-content {
            display: block;
            margin-left: 0;
            margin-top: 0;
        }

    }

    &.has-post-thumbnail,
    &.no-post-thumbnail {
        @include susy-at($tablet) {
            .header-image {
                height: auto;

                width: span(3 of 8);
                margin-right: gutter();

                img {
                    position: relative;
                    height: auto;
                    max-width: 100%;
                    vertical-align: bottom;
                }
            }

            .entry-header {
                float: left;
                width: span(5 of 8);
                margin-left: 0;
            }

            .entry-content {
                float: left;
                width: span(5 of 8);
                margin-left: 0;
            }

        }
    }

}

/*
 * Featured post (either top of the homepage or main post of category archive)
 * – title
 * – meta
 * – intro text
 */

.post--featured {
  .entry-intro {
    display: none;
  }

  .header-image {
    margin-left: gutter() * -1;
    margin-right: gutter() * -1;

    img {
      width: 100%;
      height: auto;
    }
  }

  .entry-title {
    margin-bottom: rem-calc(8);
  }

  .entry-meta {
    margin: 0 0 rem-calc(12) 0;


    .icon.camera {
        display: none;

        @include mq($until: tablet) {
            margin-left: rem-calc(6);
            display: inline-block;
        }
    }
  }

    .featured-wrapper {
        display: flex;
        flex-direction: column;

        .header-image {
            order: 2;
        }

        .entry-data {
            order: 1;
            max-width: 100%;
        }
    }

    // MQ WideCol -> Tablet
    @include mq($from: widecol, $until: tablet) {
        margin-top: 1.5rem;
        margin-bottom: 2rem;

        @include clearfix();

        .featured-wrapper {
            display: block;

            .header-image {
                margin-left: 0;
                margin-right: -33%;
                width: 33%;
                order: 1;
                float: left;
            }

            .entry-data {
                margin-left: 36%;
                order: 2;
                float: left;
                max-width: 65%;

                .entry-header {
                    display: flex;
                    flex-direction: column;

                    .entry-title {
                        order: 2;
                        font-size: rem-calc(19);
                        line-height: rem-calc(26);
                        margin-bottom: 0.5rem;
                        margin-top: 0;
                    }
                    .entry-meta {
                        margin: 0 0 0.2rem 0;
                    }
                }
            }
        }
    }
    // !MQ widecol

  // MQ tablet
  @include mq($from: tablet) {
    color: $color__white;

    .featured-wrapper {
        display: block;
        height: auto;
        overflow: hidden;
        padding-bottom: 62.5%;    /* 16:10 */
        position: relative;
        width: 100%;

        &:after {
            box-shadow: 0 -8px $color__brand-primary inset;
            content: " ";
            display: block;

            width: 100%;
            height: 100%;
            position: absolute;
            pointer-events: none;

            z-index: 2;

            background: rgba(0, 0, 0, 0.75);
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+30,000000+100&0+30,0.75+100 */
            background: -moz-linear-gradient(top, rgba(0,0,0,0) 30%, rgba(0,0,0,0.75) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 30%,rgba(0,0,0,0.75) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(0,0,0,0) 30%,rgba(0,0,0,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#bf000000',GradientType=0 ); /* IE6-9 */
        }
    }

    a,
    a:visited,
    a:active,
    .entry-header a,
    .entry-header .entry-title a {
        color: $color__white;
    }

    .entry-data {
        bottom: 0;
        padding: 1rem 2rem 2rem 2rem;
        position: absolute;

        text-shadow: 0 1px 5px rgba(0, 0, 0, 0.50);

        z-index: 3;
    }

    .entry-meta {
        color: $color__white;
    }

    .entry-intro {
      display: block;

      p {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .meta-important {
        background: $color__white;

        margin: 0rem 0.625rem 0 0;
        padding: 0.1875rem 0.5625rem;

        text-shadow: none;

        &:after {
          display: none;
        }
    }

    // Let's swap order of meta and title on anything above tablet
    .entry-header {
      display: flex;
      flex-direction: column;

      .entry-title {
        order: 2;
      }
      .entry-meta {
        order: 1;
      }
    }

    h1 {
        margin: rem-calc(8) 0;

        text-shadow: none;
        text-decoration: none;

        & a {
            text-decoration: none;
        }
    }

    .header-image {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        //bottom: 50%;
        transform: translateY(-50%);
        margin-left: 0;
        margin-right: 0;

        vertical-align: bottom;

        img {
          width: 100%;
        }
    }
  } // !MQ tablet

    // MQ desktop
    @include mq($from: desktop) {
        max-width: span(7.5 of 8);
    }
}

/*
 * Post without intro text – category listing on HP, footer "more news" widget…
 */

.post--nointro {
  @include susy-at($tablet) {

    .entry-header {
        margin-left: 0;
        margin-top: rem-calc(4);

        .entry-title {
            margin: rem-calc(4) 0;
        }
    }

    &.has-post-thumbnail,
    &.no-post-thumbnail {
        .header-image {
            height: auto;
            width: 100%;

            img {
                position: relative;
                height: auto;
                max-width: 100%;
            }
        }

        .entry-header {
            margin-left: 0;
        }

        .entry-content {
            display: block;
            margin-left: 0;
            margin-top: 0;
        }
    }
  }
}


/*
 * Post without intro text in Recent news widget and section
 */

#secondary .post--nointro {
  @include susy-at($tablet) {

    margin-bottom: rem-calc(20);

    &.has-post-thumbnail,
    &.no-post-thumbnail {
        .header-image {
            height: auto;
            width: rem-calc(145);
            margin-right:  rem-calc(165) * -1;

            img {
                position: relative;
                height: auto;
                max-width: 100%;
            }
        }

        .entry-header {
            margin-left: rem-calc(165);
        }

        .entry-content {
            display: block;
            margin-left: 0;
            margin-top: 0;
        }
    }
  }
}

/*
 * Text only post for Dobre rady section
 * – title
 * – meta
 * – intro text
 */

.post--textonly,
.ehutnik-textova-inzerce {
    a {
        color: $color__black;
        @include susy-at($tablet) {
            color: $color__brand-primary;
        }
    }

    .entry-title,
    h1 {
        color: $color__black;
        font-family: $font__main;
        font-size: rem-calc(16);
        font-weight: bold;
        line-height: rem-calc(24);

        @include susy-at($tablet) {
            color: $color__brand-primary;
            font-size: rem-calc(20);
            line-height: rem-calc(24);
        }
    }
    .entry-meta {
        color: $color__gray-medium;
        font-size: rem-calc(12);
        margin-top: 0;
        margin-bottom: 0;

        a {
            color: $color__gray-medium;
        }
    }
    .entry-content {
        color: $color__gray-medium;
        font-size: rem-calc(14);
        line-height: rem-calc(22);
        margin-top: rem-calc(4);

        @include susy-at($tablet) {
            font-size: rem-calc(14);
            line-height: rem-calc(23);
        }

        p {
            margin-top: 0;
            font-size: rem-calc(14);
            line-height: rem-calc(23);
        }

        a {
            color: $color__gray-medium;
            text-decoration: none;
        }
    }

}

.widget_ehutnik_obrazem .post--gallery {
    margin-bottom: 0;
    padding: 4px 2px;

    .wrapper {
      height: auto;
      overflow: hidden;
      padding-bottom: 62.5%;    /* 16:10 */
      position: relative;
      width: 100%;
    }

    .header-image {
        position: absolute;
        //top: 50%;
        left: 0;
        right: 0;
        //bottom: 50%;
        //transform: translateY(-50%);
        margin-left: 0;
        margin-right: 0;

        vertical-align: bottom;

        img {
          width: 100%;
        }
    }
}

.gallery-data {
    color: $color__white;
    font-weight: bold;

    bottom: rem-calc(8);
    right: rem-calc(8);
    position: absolute;

    z-index: 3;

    padding: rem-calc(2) rem-calc(7) rem-calc(2) rem-calc(35);
    background: rgba(0, 0, 0, 0.5) url('../img/galerie-mala.svg') no-repeat left 7px center;
    background-size: rem-calc(23) rem-calc(18);

    @include susy-at($tablet) {
        width: 64px;
        height: 50px;
        background: transparent url('../img/galerie-velka.svg') no-repeat center center;
        background-size: rem-calc(64) rem-calc(50);
        padding: rem-calc(7) rem-calc(6) rem-calc(5) rem-calc(0);
        text-align: center;
        font-size: rem-calc(20);
        right: rem-calc(21);
        bottom: rem-calc(21);
    }
}

/**
 * Post formats
 */

.post--regular.format-status {

    @include mq($from: tablet) {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .entry-content {
        color: $color__black;
        display: block;
        font-family: $font__headings;
        font-size: rem-calc(14);
        line-height: rem-calc(20);
        margin-top: 0.2rem;

        @include mq($from: tablet) {
            font-size: rem-calc(17);
            line-height: rem-calc(27);
            font-weight: bold;
            margin-top: 0.5rem;
        }

        a,
        a:visited {
            color: $color__black;
        }

        a:hover {
            color: $color__brand-primary;
            text-decoration: underline;
        }

    }
}

/**
 * Contacts
*/
.user-medailon {
    .user-photo {
        border-radius: 100%;
        background: $color__background-hr url('../img/no-userphoto.png') no-repeat;
        background-size: 100%;
    }
    .user-name {
        color: $color__black;
        font-family: $font__headings;
        font-size: rem-calc(16);
        font-weight: bold;
        line-height: rem-calc(20);
        margin-bottom: rem-calc(8);
    }
    .user-email {
        @include mq($from: tablet) {
            font-size: rem-calc(14);
            line-height: rem-calc(19);
        }
    }
    .user-description {
        //font-weight: bold;
        font-size: rem-calc(12);
        line-height: rem-calc(16);
        letter-spacing: 0.2px;
        text-transform: uppercase;
        margin-bottom: rem-calc(8);

        @include mq($from: tablet) {
            margin-bottom: rem-calc(16);
        }
    }
}
