
// List of articles on homepage and in archives
.hp-section,
.fullw {

  .post--featured {
    position: relative;

    .featured-wrapper {
      display: flex;
      flex-direction: column;

      @include mq($from: widecol, $until: tablet) {
          display: block;
      }

      &:after {
        box-shadow: none;

        @include mq($from: tablet) {
            background: rgba(0, 0, 0, 0.75);
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+30,000000+100&0+30,0.75+100 */
            background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#bf000000',GradientType=0 ); /* IE6-9 */
        }

        @include mq($from: desktop) {
            background: rgba(0, 0, 0, 0.75);
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+30,000000+100&0+30,0.75+100 */
            background: -moz-linear-gradient(top, rgba(0,0,0,0) 30%, rgba(0,0,0,0.75) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 30%,rgba(0,0,0,0.75) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(0,0,0,0) 30%,rgba(0,0,0,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#bf000000',GradientType=0 ); /* IE6-9 */
        }
      }
    }

    .header-image {
      margin-left: gutter() * -1;
      margin-right: gutter() * -1;
      order: 2;

      @include mq($from: widecol, $until: tablet) {
          margin-left: 0;
          margin-right: -33%;
          order: 1;
          float: left;
      }

      @include mq($from: tablet) {
        position: absolute;
        margin: 0;
        width: 100%;
        height: auto;
      }

      img {
        width: 100%;
        height: auto;
        vertical-align: bottom;
      }
    }

    // Let's swap order of meta and title on anything above tablet
    .entry-header {
      display: flex;
      flex-direction: column;
      order: 1;
      z-index: 3;

      @include mq($from: widecol, $until: tablet) {
          margin-left: 36%;
          order: 2;
          float: left;
      }

      // MQ tablet
      @include mq($from: tablet) {
        bottom: 0;
        padding: 1rem 1.2rem .2rem 1.2rem;
        position: absolute;

        text-shadow: 0 1px 5px rgba(0, 0, 0, 0.50);
      }

      @include mq($from: desktop) {
          padding: 1rem 2rem 1rem 2rem;
      }

      .entry-title {
        order: 1;

        @include mq($from: widecol, $until: tablet) {
            margin-top: 0;
            order: 2
        }
      }

      .entry-meta {
        order: 2;

        @include mq($from: widecol, $until: tablet) {
            margin-bottom: 0;
            order: 1
        }
      }

      .header-image {
        order: 3;
      }
    }

  }
}

.hp-section {
    .post--nointro {
        @include mq($from: tablet, $until: desktop) {

            margin-bottom: 1rem;

            .header-image {
                margin-left: 0;
                margin-right: -33%;
                width: 33%;
                float: left;
            }

            .entry-header {
                margin-left: 36%;
                float: left;

                .entry-title {
                    margin-bottom: 0.5rem;
                    margin-top: 0;
                }
                .entry-meta {
                    margin: 0 0 0.2rem 0;
                }
            }
        }
    }
}
