/** Specifikace Breakpointů
    závislost: SASS-MQ (http://sass-mq.github.io/sass-mq)
    install: bower install
    postinstall: wiredep se o to postará
 */
$mq-responsive: true;

/*
 Breakpoints:
 mobile:    20rem, 320/16
 tablet:    48rem, 768/16
 desktop:   60rem, 960/16
 hddesktop: 75rem 1200/16
 wide:      81.25rem, 1300/16
 */

$mq-breakpoints: (
  phone:     300px,
  widecol:   480px,
  tablet:    740px,
  desktop:   980px,
  hddesktop: 1200px,
  wide:      1300px

  // Tweakpoints
  //desktopAd: 810px,
  //mobileLandscape: 480px
);

/**
 * Max width of content
 */
//$site-width-px: map-get( $mq-breakpoints, hddesktop );
$site-width: 80rem /* 1280/16 */;

/**
 * Specifikace gridu pro SUSY vč. následných breakpointů
 */
$susy: (
  'columns': 1 1 1 1 1 1,
  'gutters': 0.25,
  'spread': 'narrow',
  'container-spread': 'narrow'
);

$phone: (
  'min-width': rem-calc( strip-units( map-get($mq-breakpoints, phone) ) ),
  'columns': 1 1 1 1 1 1
);

$widecol: (
  'min-width': rem-calc( strip-units( map-get($mq-breakpoints, widecol) ) ),
  'columns': 1 1 1 1 1 1
);

$tablet: (
  'min-width': rem-calc( strip-units( map-get($mq-breakpoints, tablet) ) ),
  'columns': 1 1 1 1 1 1 1 1
);

$desktop: (
  'min-width': rem-calc( strip-units( map-get($mq-breakpoints, desktop) ) ),
  'columns': 1 1 1 1 1 1 1 1 1 1 1 1,
  //'container-spread': 'wide'
);

$hddesktop: (
  'min-width': rem-calc( strip-units( map-get($mq-breakpoints, hddesktop) ) ),
  'columns': 1 1 1 1 1 1 1 1 1 1 1 1,
  //'container-spread': 'wide'
);
