$color__white: #fff;
$color__black: #000;
$color__gray-dark: #3B3D40;
$color__gray-medium: #4A4A4A;
$color__gray-light: #939393;
$color__gray-lightest: #F0F0F0;

$color__brand-primary: #9C0F12;
$color__brand-secondary: #F29224;
$color__brand-bright-bg: #F0F3F6;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #E5E8EA;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__background-linksbar: #222222;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__brand-primary;
$color__link-visited: $color__brand-primary;
$color__link-hover: darken($color__brand-primary, 15%);
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__menu-border-bottom: #DEDEDE;

$color__alert-normal: green;
$color__alert-warning: $color__brand-secondary;
$color__alert-danger: lighten($color__brand-primary, 20%);
