$font__main: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font__headings: 'Noto Serif', Georgia, Times, 'Times New Roman', serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
