.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text {
		margin: 0.8075em 0;
	}
}

.wp-caption-text {
	text-align: center;
}

.wp-caption,
.figcaption {
    color: $color__gray-light;
    font-size: rem-calc(12);
    line-height: rem-calc(17);

    margin-top: rem-calc(6);
}
