.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;

    // Loops to enumerate the classes for gallery columns.
    @for $i from 2 through 9 {
        .gallery-columns-#{$i} & {
            max-width: map-get( $columns, $i );
        }
    }
}

.gallery-caption {
    display: block;
}

.entry-content {
    figure {
        margin: rem-calc(32) 0 rem-calc(32) 0;

        @include mq($from: tablet) {
            margin: rem-calc(8) 0 rem-calc(32) rem-calc(64);
        }
    }
}

/*
 * Image gallery in posts
 */

.post-gallery-container {
    margin: 0 auto;
    max-width: 980px;
    position: relative;

    @include mq($from: tablet) {
        /* Výška displeje <700px
         */

        @media (min-height: 43.75rem) {
            /* Výška displeje >700px
             * 700/16
             */
            top: 50%;
            transform: translateY(-50%);
        }
    }

    @include clearfix();

    #gallery-close {
        position: fixed;
        top: 1rem;
        right: 1rem;
        z-index: 10;
        color: $color__white;

        @include mq($from: tablet) {
            position: absolute;
            top: 0;
            right: 0;
        }


        @extend .icon;
        @extend .icon.close;
    }

    .gallery-header {
        color: $color__white;

        @include mq($from: tablet) {
            max-width: calc(100% - 160px);
        }

        h2 {
            margin-top: 0;
            margin-bottom: rem-calc(10);
            margin-right: rem-calc(32);
            line-height: 1.2;

            @include mq($from: tablet) {
                letter-spacing: 0.3px;
                font-size: rem-calc(32);
                font-weight: bold;
                margin-right: 0;
            }
        }

        .entry-meta-row {
            color: $color__white;
            width: 100%;
            margin-bottom: rem-calc(16);

            a {
                color: $color__white;
            }
        }
    }

    img {
        position:relative;
    }

    .img-portrait img {
        height: 100%;
        width: auto;
        max-height: 550px;
        left: 50%;
        transform: translateX(-50%);
    }
    .img-landscape img {
        height: auto;
        width: 100%;
    }

    &.post-gallery-container-single {

        .gallery-header {

            @include mq($from: tablet) {
                max-width: 100%;
            }
        }

        .post-gallery-view {
            @include mq($from: tablet) {
                max-width: 100%;
                margin-right: 0;
            }

        }
    }
}

.post-gallery-view {
    @include mq($from: tablet) {
        max-width: calc(100% - 160px);
        //float: left;
        display: inline-block;
        margin-right: rem-calc(19);
    }

    figure {
        margin-top: 0;

        @include mq($from: tablet) {
            max-height: 600px;
        }

        img {
            width: auto;
        }
    }

    figcaption {
        color: $color__white;
        font-size: rem-calc(14);
        line-height: rem-calc(22);
        margin-top: rem-calc(10);
    }

}

.post-gallery-thumbs {
    display: none;

    @include mq($from: tablet) {
        display: inline-block;
        width: 140px;
        //float: right;
        position: relative;
        vertical-align: top;
    }

    .slick-vertical .slick-slide {
        float: none;
    }
}

.gallery-images,
.gallery-thumbs-list {
    padding: 0;
    margin: 0;

    li {
        list-style-type: none;
    }
}

.gallery-thumbs-list {
    .thumb {
        padding: 3px 4px 4px 4px;
    }

    .slick-current {
        .thumb {
            border: 2px solid $color__brand-secondary;
            //margin-top: 2px;
        }
    }
}

.lightbox-bg {
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    height: 100%;
    overflow-y: scroll;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 1rem;

    @include mq($from: tablet) {
        overflow: auto;
        //padding: 0;
    }
}
