.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../img/sprite.svg");
    background-repeat: no-repeat;
    background-size: 34em 93.5em;
}

.no-svg .icon:before {
    background-image: url("../img/sprite.png");
}



  .icon.arrow-right--rounded:before {
      background-position: 0em 0em;
      width: 2.8em;
      height: 2.8em;
  }




  .icon.camera:before {
      background-position: 0em -2.8em;
      width: 1.5em;
      height: 1.2em;
  }




  .icon.close:before {
      background-position: 0em -4em;
      width: 2.5em;
      height: 2.5em;
  }




  .icon.ehutnik_negativ:before {
      background-position: 0em -6.5em;
      width: 34em;
      height: 6.9em;
  }




  .icon.ehutnik_pozitiv:before {
      background-position: 0em -13.4em;
      width: 8.9em;
      height: 1.8em;
  }




  .icon.form-ehutnik-o:before {
      background-position: 0em -15.2em;
      width: 3.2em;
      height: 3.2em;
  }




  .icon.form-ehutnik-w:before {
      background-position: 0em -18.4em;
      width: 3.2em;
      height: 3.2em;
  }




  .icon.form-plosna-o:before {
      background-position: 0em -21.6em;
      width: 3.2em;
      height: 3.2em;
  }




  .icon.form-plosna-w:before {
      background-position: 0em -24.8em;
      width: 3.2em;
      height: 3.2em;
  }




  .icon.form-spolecenska-o:before {
      background-position: 0em -28em;
      width: 3.2em;
      height: 3.2em;
  }




  .icon.form-spolecenska-w:before {
      background-position: 0em -31.2em;
      width: 3.2em;
      height: 3.2em;
  }




  .icon.form-text-o:before {
      background-position: 0em -34.4em;
      width: 3.2em;
      height: 3.2em;
  }




  .icon.form-text-w:before {
      background-position: 0em -37.6em;
      width: 3.2em;
      height: 3.2em;
  }




  .icon.form-vkladana-o:before {
      background-position: 0em -40.8em;
      width: 3.2em;
      height: 3.2em;
  }




  .icon.form-vkladana-w:before {
      background-position: 0em -44em;
      width: 3.2em;
      height: 3.2em;
  }




  .icon.galerie-mala:before {
      background-position: 0em -47.2em;
      width: 2.4em;
      height: 1.8em;
  }




  .icon.galerie-velka:before {
      background-position: 0em -49em;
      width: 6.4em;
      height: 5em;
  }




  .icon.lupa-cervena:before {
      background-position: 0em -54em;
      width: 1.7em;
      height: 1.7em;
  }




  .icon.share-email:before {
      background-position: 0em -55.7em;
      width: 2.8em;
      height: 2.8em;
  }




  .icon.share-facebook:before {
      background-position: 0em -58.5em;
      width: 2.8em;
      height: 2.8em;
  }




  .icon.share-more:before {
      background-position: 0em -61.3em;
      width: 2.8em;
      height: 2.8em;
  }




  .icon.share-print:before {
      background-position: 0em -64.1em;
      width: 2.8em;
      height: 2.8em;
  }




  .icon.share-twitter:before {
      background-position: 0em -66.9em;
      width: 2.8em;
      height: 2.8em;
  }




  .icon.sipka-L-velka:before {
      background-position: 0em -69.7em;
      width: 2.2em;
      height: 4.5em;
  }




  .icon.sipka-R-velka:before {
      background-position: 0em -74.2em;
      width: 2.2em;
      height: 4.5em;
  }




  .icon.sipka-pidi-dolu-o:before {
      background-position: 0em -78.7em;
      width: 1.3em;
      height: 0.7em;
  }




  .icon.sipka-pidi-dolu-r:before {
      background-position: 0em -79.4em;
      width: 1.3em;
      height: 0.7em;
  }




  .icon.sipka-pidi-nahoru-o:before {
      background-position: 0em -80.1em;
      width: 1.3em;
      height: 0.7em;
  }




  .icon.sipka-pidi-nahoru-r:before {
      background-position: 0em -80.8em;
      width: 1.3em;
      height: 0.7em;
  }




  .icon.ss-facebook:before {
      background-position: 0em -81.5em;
      width: 1.2em;
      height: 2.4em;
  }




  .icon.ss-instagram:before {
      background-position: 0em -83.9em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.ss-twitter:before {
      background-position: 0em -86.3em;
      width: 2.2em;
      height: 1.8em;
  }




  .icon.ss-youtube:before {
      background-position: 0em -88.1em;
      width: 2.6em;
      height: 1.8em;
  }




  .icon.tick-er:before {
      background-position: 0em -89.9em;
      width: 1.8em;
      height: 1.8em;
  }




  .icon.tick-ok:before {
      background-position: 0em -91.7em;
      width: 1.8em;
      height: 1.8em;
  }





