.icon {
    font-size: 10px;
    &:after {
      content:' ';
      vertical-align:middle;
      display: inline-block;
      background-image: url("../img/sprite.svg");
      background-repeat: no-repeat;
      background-size: 34em 93.5em;

      .no-svg & {
        background-image: url("../img/sprite.png");
      }
    }
}




.icon.arrow-right--rounded {
  &:after {
      background-position: 0em 0em;
      width: 2.8em;
      height: 2.8em;
    }
  }

  @mixin icon-arrow-right--rounded(){
    @extend .arrow-right--rounded;
  }


.icon.camera {
  &:after {
      background-position: 0em -2.8em;
      width: 1.5em;
      height: 1.2em;
    }
  }

  @mixin icon-camera(){
    @extend .camera;
  }


.icon.close {
  &:after {
      background-position: 0em -4em;
      width: 2.5em;
      height: 2.5em;
    }
  }

  @mixin icon-close(){
    @extend .close;
  }


.icon.ehutnik_negativ {
  &:after {
      background-position: 0em -6.5em;
      width: 34em;
      height: 6.9em;
    }
  }

  @mixin icon-ehutnik_negativ(){
    @extend .ehutnik_negativ;
  }


.icon.ehutnik_pozitiv {
  &:after {
      background-position: 0em -13.4em;
      width: 8.9em;
      height: 1.8em;
    }
  }

  @mixin icon-ehutnik_pozitiv(){
    @extend .ehutnik_pozitiv;
  }


.icon.form-ehutnik-o {
  &:after {
      background-position: 0em -15.2em;
      width: 3.2em;
      height: 3.2em;
    }
  }

  @mixin icon-form-ehutnik-o(){
    @extend .form-ehutnik-o;
  }


.icon.form-ehutnik-w {
  &:after {
      background-position: 0em -18.4em;
      width: 3.2em;
      height: 3.2em;
    }
  }

  @mixin icon-form-ehutnik-w(){
    @extend .form-ehutnik-w;
  }


.icon.form-plosna-o {
  &:after {
      background-position: 0em -21.6em;
      width: 3.2em;
      height: 3.2em;
    }
  }

  @mixin icon-form-plosna-o(){
    @extend .form-plosna-o;
  }


.icon.form-plosna-w {
  &:after {
      background-position: 0em -24.8em;
      width: 3.2em;
      height: 3.2em;
    }
  }

  @mixin icon-form-plosna-w(){
    @extend .form-plosna-w;
  }


.icon.form-spolecenska-o {
  &:after {
      background-position: 0em -28em;
      width: 3.2em;
      height: 3.2em;
    }
  }

  @mixin icon-form-spolecenska-o(){
    @extend .form-spolecenska-o;
  }


.icon.form-spolecenska-w {
  &:after {
      background-position: 0em -31.2em;
      width: 3.2em;
      height: 3.2em;
    }
  }

  @mixin icon-form-spolecenska-w(){
    @extend .form-spolecenska-w;
  }


.icon.form-text-o {
  &:after {
      background-position: 0em -34.4em;
      width: 3.2em;
      height: 3.2em;
    }
  }

  @mixin icon-form-text-o(){
    @extend .form-text-o;
  }


.icon.form-text-w {
  &:after {
      background-position: 0em -37.6em;
      width: 3.2em;
      height: 3.2em;
    }
  }

  @mixin icon-form-text-w(){
    @extend .form-text-w;
  }


.icon.form-vkladana-o {
  &:after {
      background-position: 0em -40.8em;
      width: 3.2em;
      height: 3.2em;
    }
  }

  @mixin icon-form-vkladana-o(){
    @extend .form-vkladana-o;
  }


.icon.form-vkladana-w {
  &:after {
      background-position: 0em -44em;
      width: 3.2em;
      height: 3.2em;
    }
  }

  @mixin icon-form-vkladana-w(){
    @extend .form-vkladana-w;
  }


.icon.galerie-mala {
  &:after {
      background-position: 0em -47.2em;
      width: 2.4em;
      height: 1.8em;
    }
  }

  @mixin icon-galerie-mala(){
    @extend .galerie-mala;
  }


.icon.galerie-velka {
  &:after {
      background-position: 0em -49em;
      width: 6.4em;
      height: 5em;
    }
  }

  @mixin icon-galerie-velka(){
    @extend .galerie-velka;
  }


.icon.lupa-cervena {
  &:after {
      background-position: 0em -54em;
      width: 1.7em;
      height: 1.7em;
    }
  }

  @mixin icon-lupa-cervena(){
    @extend .lupa-cervena;
  }


.icon.share-email {
  &:after {
      background-position: 0em -55.7em;
      width: 2.8em;
      height: 2.8em;
    }
  }

  @mixin icon-share-email(){
    @extend .share-email;
  }


.icon.share-facebook {
  &:after {
      background-position: 0em -58.5em;
      width: 2.8em;
      height: 2.8em;
    }
  }

  @mixin icon-share-facebook(){
    @extend .share-facebook;
  }


.icon.share-more {
  &:after {
      background-position: 0em -61.3em;
      width: 2.8em;
      height: 2.8em;
    }
  }

  @mixin icon-share-more(){
    @extend .share-more;
  }


.icon.share-print {
  &:after {
      background-position: 0em -64.1em;
      width: 2.8em;
      height: 2.8em;
    }
  }

  @mixin icon-share-print(){
    @extend .share-print;
  }


.icon.share-twitter {
  &:after {
      background-position: 0em -66.9em;
      width: 2.8em;
      height: 2.8em;
    }
  }

  @mixin icon-share-twitter(){
    @extend .share-twitter;
  }


.icon.sipka-L-velka {
  &:after {
      background-position: 0em -69.7em;
      width: 2.2em;
      height: 4.5em;
    }
  }

  @mixin icon-sipka-L-velka(){
    @extend .sipka-L-velka;
  }


.icon.sipka-R-velka {
  &:after {
      background-position: 0em -74.2em;
      width: 2.2em;
      height: 4.5em;
    }
  }

  @mixin icon-sipka-R-velka(){
    @extend .sipka-R-velka;
  }


.icon.sipka-pidi-dolu-o {
  &:after {
      background-position: 0em -78.7em;
      width: 1.3em;
      height: 0.7em;
    }
  }

  @mixin icon-sipka-pidi-dolu-o(){
    @extend .sipka-pidi-dolu-o;
  }


.icon.sipka-pidi-dolu-r {
  &:after {
      background-position: 0em -79.4em;
      width: 1.3em;
      height: 0.7em;
    }
  }

  @mixin icon-sipka-pidi-dolu-r(){
    @extend .sipka-pidi-dolu-r;
  }


.icon.sipka-pidi-nahoru-o {
  &:after {
      background-position: 0em -80.1em;
      width: 1.3em;
      height: 0.7em;
    }
  }

  @mixin icon-sipka-pidi-nahoru-o(){
    @extend .sipka-pidi-nahoru-o;
  }


.icon.sipka-pidi-nahoru-r {
  &:after {
      background-position: 0em -80.8em;
      width: 1.3em;
      height: 0.7em;
    }
  }

  @mixin icon-sipka-pidi-nahoru-r(){
    @extend .sipka-pidi-nahoru-r;
  }


.icon.ss-facebook {
  &:after {
      background-position: 0em -81.5em;
      width: 1.2em;
      height: 2.4em;
    }
  }

  @mixin icon-ss-facebook(){
    @extend .ss-facebook;
  }


.icon.ss-instagram {
  &:after {
      background-position: 0em -83.9em;
      width: 2.4em;
      height: 2.4em;
    }
  }

  @mixin icon-ss-instagram(){
    @extend .ss-instagram;
  }


.icon.ss-twitter {
  &:after {
      background-position: 0em -86.3em;
      width: 2.2em;
      height: 1.8em;
    }
  }

  @mixin icon-ss-twitter(){
    @extend .ss-twitter;
  }


.icon.ss-youtube {
  &:after {
      background-position: 0em -88.1em;
      width: 2.6em;
      height: 1.8em;
    }
  }

  @mixin icon-ss-youtube(){
    @extend .ss-youtube;
  }


.icon.tick-er {
  &:after {
      background-position: 0em -89.9em;
      width: 1.8em;
      height: 1.8em;
    }
  }

  @mixin icon-tick-er(){
    @extend .tick-er;
  }


.icon.tick-ok {
  &:after {
      background-position: 0em -91.7em;
      width: 1.8em;
      height: 1.8em;
    }
  }

  @mixin icon-tick-ok(){
    @extend .tick-ok;
  }

